* {
  box-sizing: border-box;
  background-color: white;
}

.portfolio {
  display: block;
  width: 960px;
}

.toolbar {
  text-align: left;
  box-sizing: border-box;
  margin: 0.3rem 10px 2rem 10px
}

.project-list {
  margin: 1rem 0rem;
  columns: 3;
}

.filter-item {
  border: 0.05rem solid dimgray;
  margin-right: 0.4rem;
  padding: 0.3rem 1rem;
  color:dimgray;
}

.filter-item.selected {
  border: 0.05rem solid whitesmoke;
  background-color: dimgray;
  color: whitesmoke;
}

.item-image {
  margin: 10px;
  width: 300px;
}
